## Study of conditional statements in python
### Vishvam Delwadiya
### PRN: - 25070123124

In [10]:
num = int(input("Enter a number"))
if num > 0:
  print("postive")

elif num < 0:
  print("negative")

else:
  print("zero")

Enter a number8
postive

In [12]:
num = int(input("Enter a number"))
if num % 2 == 0:
  print("Even")

else:
    print("odd")

Enter a number10
Even

In [30]:
a = int(input("Enter First number: "))
b = int(input("Enter Second number: "))
c = int(input("Enter Third number: "))



if a >= b and a >= c :
  print("Largest:", a)
elif b >= a and b >= c :
  print("Largest:", b)

else:
  print("Largest:", c)

Enter First number: 600
Enter Second number: 700
Enter Third number: 1000
Largest: 1000

In [31]:
marks = int(input("Enter the Marks: "))
if marks >= 90:
 print("Grade A")

elif marks >= 75:
 print("Grade B")

elif marks >= 60:
 print("Grade C")

elif marks >= 40:
 print("Grade D")

else:
  print("Fail")

Enter the Marks: 80
Grade B

In [32]:
year = int(input("Enter a year:"))

if (year % 400 == 0 ) or (year % 4 == 0 and year % 100 !=0):
  print("Leap Year")

else:
  print("not Leap Year")

Enter a year:2024
Leap Year

In [37]:
date_str =(input("Enter a date in yyyy-mm-dd :"))



parts = date_str.split('-')

if len(parts) == 3 and all(p.isdigit() for p in parts):
    year = int(parts[0])
    month = int(parts[1])
    day = int(parts[2])

    print(f"Original: {year}-{month:02d}-{day:02d}")


    day += 1

    # Month days array
    days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    if day > days_in_month[month-1]:
        day = 1
        month += 1
        if month > 12:
            month = 1
            year += 1

    print(f"Next day: {year}-{month:02d}-{day:02d}")
else:
    print("Invalid format! Use YYYY-MM-DD (e.g., 2026-02-09)")

Enter a date in yyyy-mm-dd :2025-12-31
Original: 2025-12-31
Next day: 2026-01-01