## Study of conditional statements in python
### Vishvam Delwadiya
### PRN: - 25070123124

In [ ]:
num = int(input("Enter a number"))
if num > 0:
  print("postive")

elif num < 0:
  print("negative")

else:
  print("zero")

Enter a number8
postive

In [ ]:
num = int(input("Enter a number"))
if num % 2 == 0:
  print("Even")

else:
    print("odd")

Enter a number10
Even

In [ ]:
a = int(input("Enter First number: "))
b = int(input("Enter Second number: "))
c = int(input("Enter Third number: "))



if a >= b and a >= c :
  print("Largest:", a)
elif b >= a and b >= c :
  print("Largest:", b)

else:
  print("Largest:", c)

Enter First number: 600
Enter Second number: 700
Enter Third number: 1000
Largest: 1000

In [ ]:
marks = int(input("Enter the Marks: "))
if marks >= 90:
 print("Grade A")

elif marks >= 75:
 print("Grade B")

elif marks >= 60:
 print("Grade C")

elif marks >= 40:
 print("Grade D")

else:
  print("Fail")

Enter the Marks: 80
Grade B

In [ ]:
year = int(input("Enter a year:"))

if (year % 400 == 0 ) or (year % 4 == 0 and year % 100 !=0):
  print("Leap Year")

else:
  print("not Leap Year")

Enter a year:2024
Leap Year

In [40]:
date = input("Enter the date in format (dd/mm/yyyy): ")
dd, mm, yy = map(int, date.split("/"))

# Find maximum days in the month
if mm == 1 or mm == 3 or mm == 5 or mm == 7 or mm == 8 or mm == 10 or mm == 12:
    max1 = 31

elif mm == 4 or mm == 6 or mm == 9 or mm == 11:
    max1 = 30

elif mm == 2:
    if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
        max1 = 29
    else:
        max1 = 28

else:
    print("Date is invalid")
    exit()

# Validate date
if mm < 1 or mm > 12:
    print("Date is invalid")

elif dd < 1 or dd > max1:
    print("Date is invalid")

# Increment date
elif dd == max1 and mm != 12:
    dd = 1
    mm = mm + 1
    print("The incremented date is:", dd, mm, yy)

elif dd == 31 and mm == 12:
    dd = 1
    mm = 1
    yy = yy + 1
    print("The incremented date is:", dd, mm, yy)

else:
    dd = dd + 1
    print("The incremented date is:", dd, mm, yy)

Enter the date in format (dd/mm/yyyy): 31/12/2025
The incremented date is: 1 1 2026

In [ ]:
ch = input("Enter a character:")

if ch in 'aeiouAEIOU':
  print("Vowel")
else:
  print("Consonant")

Enter a character:E
Vowel

In [9]:
  basic = float(input("Enter basic salary:"))

  if basic <= 10000:
    hra = basic * 0.2
    da = basic * 0.8

  elif basic <= 20000:
    hra = basic * 0.25
    da = basic * 0.9

  else:
    hra = basic * 0.3
    da = basic * 0.95

  gross = basic + hra + da
  print("Gross Salary:", gross)

Enter basic salary:8000
Gross Salary: 16000.0

In [20]:
income = float(input("Enter income:"))

if income <= 250000:
  tax = 0

elif income <= 500000:
  tax = (income - 250000) * 0.05

elif income <= 1000000:
 tax = (250000 * 0.05) + (income - 500000)* 0.2

else:
  tax= (250000 * 0.05) + (500000 * 0.2) + (income - 1000000)*0.3

print("Income Tax:", tax)

Enter income:1000000
Income Tax: 112500.0